   
    <div id="startMenuWrapper" ng-show="!$root.currentUser">
        <div id="startMenu">
            <p>Commencer à Jouer!</p>
            <login-buttons></login-buttons>
            <br />
            <div id="instructions">
                <h3>Gameplay</h3>
                <ul>
                    <li>Déplacer la souris sur l'écran pour déplacer le vaisseau.</li>
                    <li>Récupérer les caisses pour disposer de nouvelles compétences <!--(une nouvelle caisse apparait dès qu'une caisse est consommé)-->.</li>
                    <li>Utiliser la touche 'W' pour tirer sur les vaisseaux enemies.</li>
                    <li>Objectif: Détruiser tout les navires enemies!</li>
                </ul>
            </div>
        </div>
    </div>